.card-grid {
  padding: 2em;
  padding-top: 10em;

}

.card-list {
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list-item {
  width: 18em;
  padding: .5em;
  margin:0;
  align-items: center;
  text-align: center;

  border-radius: 10px;
}
.card-list-item h4 {
  margin: 0;
  padding:0;
  text-transform: capitalize;
}

.card-list-item img {
  width: 15em;
  object-fit:fill;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}
